div.right form{
	
	width: 40%;
	margin-left: 25%;
	margin-top: 10%;
}

div.right form div{
	height: 50px;
    padding-left: 3%;
	border: 1px solid #FF4500;
	margin-top: 10%;

}

div.right form div label{
	font-size: 18px;

}

div.right form div input{
	height: 90%;
	width: 55%;
    font-size: 18px;
    border: 0px;
    margin-left: 1%;
 
}

#login{
	width: 103%;
	height: 100%;
	margin-left: -3.1%;
	background-color: #FF4500;
}

#error{
	border: 0;
}

#error span{
  color: red;
  font-size: 18px;
}
