div.right div{
	
}
div.right_title{
	width: 100%;
	height: 20px;
	background-color: #F5F5F5;
	border: 0px;
	text-align: center;
	color: #ff4500;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.free_info{
	width: 100%;
	
}

div.leaguer_info{
    width: 100%;
	
}

div.leaguer_info div{
	width: 100%;
	border-bottom: 1px #ff4500 dashed;
}

div.free_info div{
	width: 100%;
	border-bottom: 1px #ff4500 dashed;
}

div.right span{
	color: #ff4500;
	margin-left: 20px;
}

#type{
	color: #b22222;
	font-size: 18px;
}

p.content{
	text-indent: 2em;
	color: blue;
	margin-left: 20px;
}